.navbar-style {
  background-color: rgb(217, 198, 174);
  /* background-color: rgb(6, 72, 196); */
  
}

.img-style {
  height: 50px;
  width: 50px;
}
.logo-name-style {
  margin-top: -1.4rem;
  margin-left: 3.2rem;
}
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main {
  min-height: 80vh;
}
footer {
  background-color: rgb(217, 198, 174);
}
.slide-image-style {
  height: 500px;
}
.p-style {
  text-align: justify;
}
.abt-img1{
  height: 320px;
  width: 505px;
}
.abt-p{
  text-align: justify;
}
.abt-img2{
  width: 525px;
  height: 320px;
}
th,td{
  text-align:center;
}
.custom-divider {
  width: 7%;
  text-align: center;
  margin: -3px 2px;
}

.divider-line {
  border: none;
  height: 7px;
  background-color: rgb(27, 20, 132); /* Change the color as needed */
}


